#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 88px; 
    padding-inline: var(--spacing-xl); 
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
}

/* Hamburger menü büyük ekranda gizlendi */
.menu-toggle{
    display: none;
}

/* Navbar elemanları düzenleniyor */
.nav-list{
    display: flex;
    gap: 36px;
}

/* Navbar ul > li > a */
.nav-list a{
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--color-text-muted);
}

.nav-list a.active{
    color: var(--color-text);
}

.nav-list a:hover{
    color: var(--color-accent-cyan);
}

/* sepet - giriş yap */
.icon-btn{
    background: none;
    border: none;
    cursor: pointer;
    color:var(--color-text);
}

.icon-btn:hover{
    color: var(--color-accent-cyan);
}

/* navbar-actions */
.navbar-actions{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* giriş yap butonu */
.btn-signin{
    background: linear-gradient(135deg, var(--color-accent-violet), #5a3ff0);
    color: var(--color-text);
    border:none;
    border-radius: var(--radius-sm);
    font-size: 14px;
    font-weight: 700;
    padding: 10px 22px;
    cursor: pointer;
}

.btn-signin:hover{
    filter: brightness(1.1);
}